# Totally everything inside of Node_modules (we probably update this)
node_modules/

# Database files and builds
main/pyX/*.db
main/pyX/dist
main/pyX/*.spec
main/pyX/build

# Python virtual environment
build
dist
.venv/
.vscode/
*.spec